body{
    background-color: #052838;
}
/*fontes*/
#title{
    font-family: 'Noto Sans JP', sans-serif;
}
#body{
    font-family: 'Noto Sans JP', sans-serif;
}
/*menu no topo*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #151515;
}
  
li {
    float: left; 
}
li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #E1B787;
}
.active {
    background-color: #E1B787;
}
/*tabela*/

tbody, th, h5, span{
    padding: 25px;  
    background: #90989B;
}
thead, tr, th{
    padding: 25px;
}