body{
    background-color: #052838;
}
#title{
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 180px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #f1f1f1;
  }
.activelocation {
    background-color: #E1B787;
    color: rgb(39, 39, 39);
  }
li{
    text-align: center;
    border-bottom: 1px solid #555;
  }
li a {
    display: block;
    color: #000;
    padding: 4px 8px;
    border: 1px #000;
    text-decoration: none;
    text-align:center
}
#Menu{
    height: 421px;
    width: 200px;
    left: -309px;
    top: 144px;
    border-radius: 0px;

    display: table;
    margin: 0 auto;
    font-family: 'Noto Sans JP', sans-serif;
}
li a:hover {
    background-color: #E1B787;
    color: rgb(39, 39, 39);
}
section{
    text-align: center;
}