body{
    background-color: #052838;
}
#title{
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(255, 255, 255);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 340px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #1a1b1b;
  }
.activelocation {
    background-color: #E1B787;
    color: rgb(39, 39, 39);
  }
li{
    text-align: center;
    border-bottom: 1px solid #555;
  }
li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 4px 8px;
    border: 1px rgb(255, 255, 255);
    text-decoration: none;
    text-align:center
}
#MenuLocation{
    height: 421px;
    width: 200px;
    left: -309px;
    top: 144px;
    border-radius: 0px;

    display: table;
    margin: 0 auto;
    font-family: 'Noto Sans JP', sans-serif;
}
li a:hover {
    background-color: #E1B787;
    color: rgb(39, 39, 39);
}
section{
    text-align: center;
}